@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

.authorPara {
    font-size: 16px;
    font-family: "Roboto";
    color: #323f4b;
    font-weight: 400;
}

.popularBook {
    font-size: 30px;
    font-family: "Roboto";
    color: #323f4b;
    font-weight: 600;
}

.errorHeading {
    width: 100vw;
    text-align: center;
    font-size: 30px;
    font-family: "Roboto";
    color: #323f4b;
    font-weight: 600;
}

.image {
    height: 210px;
    width: 45vw;
}

.searchResults-heading {
    margin-top: 6px;
    font-size: 30px;
    font-family: "Roboto";
    color: #323f4b;
    font-weight: 500;
}

.searchResults-container {
    margin-top: 10px;
}

.search-input {
    padding: 8px;
    font-size: 16px;
    border-style: solid;
    border-width: 0px;
    font-family: "Roboto";
    font-weight: 500;
    border-radius: 8px;
    width: 75vw;
}

.main-heading {
    font-family: "Roboto";
    padding-top: 12px;
    padding-bottom: 8px;
    color: #ffffff;
}

.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/dynamic-webapps/library-management-bg.png");
    background-size: cover;
    height: 40vh;
    text-align: center;
}
